@import './about/about.scss';
@import './controls/controls.scss';
@import './grid/cell.scss';
@import './about/memorial.scss';
@import './variables.scss';

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    height: 100%;
    
    


    .gen {
        font-size: 1.3em;
        border: 1px solid black;
        padding: 1px 3px ;
        border-radius: 4px;
        font-family: $button-text;
        font-weight: bold;
    }

}