.grid-container {
    display: grid;
    grid-template-columns: repeat(66, 13px);
    background-color: black;
    padding: 1%;
    @media(max-width: 600px) {
        grid-template-columns: repeat(66, 15px);
        transform: rotate(90deg);
        margin-top: 200px;
        
    }
    @media(max-width: 800px) {
        grid-template-columns: repeat(66, 10px);
         
    }
    @media(min-width: 2000px) {
        grid-template-columns: repeat(66, 25px);
    }

    .cell {
        box-sizing: border-box;
        width:13px;
        height: 13px;
        border:1px solid black;
        border-radius: 4px;
       
        @media(max-width: 500px) {
            width: 15px;
            height: 15px;
        }
        @media(max-width: 800px) {
            width: 10px;
            height: 10px;
        }
        @media(min-width: 2000px) {
            height: 25px;
            width: 25px;
        }
    }
    .alive-static {
        background-color: #29ea02;
    }

    .alive {
        
        animation: pulse 2s infinite;
    }
    @keyframes pulse {
        0% {
            background-color: #1826bc;
        }
        50% {
            background-color: #c90808;
            
        }
        75% {
            background-color: #00b211;
            
        }
        100% {
            
            background-color: #f215c9;
        }
    }
    .dead {
        background-color: black;
    }
}