.grid-container {
    display: grid;
    grid-template-columns: repeat(66, 20px);
    background-color: black;
    padding: 1%;
    @media(max-width: 500px) {
        grid-template-columns: repeat(66, 13px);
        transform: rotate(90deg);
        margin-top: 250px;
        
    }

    .cell {
        box-sizing: border-box;
        width:20px;
        height: 20px;
        border:1px solid black;
        border-radius: 4px;
        @media(max-width: 500px) {
            width: 13px;
            height: 13px;
        }
    }

    .alive {
        background-color: white;
    }
    .dead {
        background-color: green;
    }
}